.button-experience {
    padding-right: 6px;
    padding-left: 6px;
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-family: 'Roboto Slab', Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.modal-exp {
    position: relative;
    display: flex !important;
    justify-content: center;
    height: 100%;
    color: #101626;
}

.modal-exp__wrapper {
    position: relative;
    max-width: 768px;
    display: flex;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    padding: 44px 16px 0;
    background-color: #ECF1F3;
}

.modal-exp__title {
    margin-bottom: 28px;
    font-family: 'Roboto Mono', Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.modal-exp__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.modal-exp__list li {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.modal-exp__company {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 1.25;
    font-family: 'Roboto Mono', Verdana, sans-serif;
}

.modal-exp__position {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.83;
}

.modal-exp__close {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 48px;
    height: 66px;
    cursor: pointer;
}

.modal-exp__close svg {
    width: 18px;
    height: 18px;
}
.modal-exp__close:hover svg {
    transform: rotate(90deg);
}

.modal-exp__close svg {
    fill: #101626;
    transition: var(--base-transition);
}

@media (min-width: 768px) {
    .modal-exp {
        padding: 32px 16px 16px;
        height: auto;
        width: auto !important;
        display: inline-flex !important;
    }

    .modal-exp__wrapper {
        padding: 32px;
    }
}

@media (min-width: 1024px) {
    .modal-exp {
        height: 100%;
        min-width: 458px;
        margin-left: auto;
        padding: 0;
    }

    .modal-exp__wrapper {
        padding-left: 75px;
        padding-right: 68px;
    }

    .modal-exp__title {
        margin-bottom: 44px;
        font-size: 24px;
        line-height: 1;
    }

    .modal-exp__company {
        font-size: 18px;
        line-height: 1.22;
    }

    .modal-exp__position {
        font-size: 14px;
        line-height: 1.57;
    }

    .modal-exp__close {
        width: 82px;
        height: 82px;
    }

    .modal-exp__close svg {
        width: 26px;
        height: 26px;
    }
}
