{
  "endOfLine": "lf",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "arrowParens": "always"
}
