.promo {
    position: relative;
    padding-top: 56px;
    padding-bottom: 56px;
    text-align: center;
    z-index: 5;
}
.promo__title {
    margin-bottom: 36px;
}

.promo__subtitle {
    margin-bottom: 45px;
}

.option-enter {
    opacity: 0;
}
.option-enter.option-enter-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}
@media screen and (min-width: 1024px) {
    .promo {
        max-width: 600px;
        padding-top: 88px;
        text-align: left;
    }
    .promo__title {
        margin-bottom: 26px;
    }

    .promo__subtitle {
        margin-bottom: 54px;
        font-size: 16px;
        line-height: 1.68;
    }

    .promo__button {
        min-width: 154px;
    }
}
