.promo {
    padding-top: 56px;
    padding-bottom: 56px;
    text-align: center;
}
.promo__title {
    margin-bottom: 36px;
}

.promo__subtitle {
    margin-bottom: 45px;
}


@media screen and (min-width: 1024px) {
    .promo {
        max-width: 600px;
        padding-top: 88px;
        text-align: left;
    }
    .promo__title {
        margin-bottom: 26px;
    }

    .promo__subtitle {
        margin-bottom: 54px;
        font-size: 16px;
        line-height: 1.68;
    }

    .promo__button {
        min-width: 154px;
    }
}
