.social {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1;
}
.dark-mode .social {
    --icon-fill: #fff;
}
.light-mode .social {
    --icon-fill: #101626;
}
.social__link {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.social__link svg {
    width: 22px;
    height: 22px;
    fill: var(--icon-fill);
    transition: var(--base-transition);
}

.social__link:hover svg,
.social__link:focus svg{
    fill: var(--secondary-color)
}
