.no-js .toggle {
    display: none;
}

.toggle {
    display: inline-flex;
    position: relative;
}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 18px;
    z-index: 1;
    cursor: pointer;
}

.light .toggle-icon.light svg {
    fill: var(--secondary-color);
}

.dark .toggle-icon.dark svg {
    fill: var(--secondary-color);
}

.toggle-icon svg {
    fill: #575B67;
    transition: var(--base-transition);
}

@media (prefers-color-scheme: dark) {
    .light .toggle-icon.light svg {
        fill: var(--secondary-color);
    }
}

@media (prefers-color-scheme: light) {
    .dark .toggle-icon.dark svg {
        fill: var(--secondary-color);
    }
}

@media (min-width: 1200px) {
    .toggle-icon {
        width: 32px;
        height: 32px;
    }
}
