.about {
    display: grid;
}

.about__photo {
    margin-bottom: 24px;
    max-width: 326px;
}

.about__body .button-download {
    display: none;
}

@media screen and (min-width: 1024px) {
    .about {
        grid-template-columns: 2fr 1.15fr;
        grid-column-gap: 54px;
        align-items: center;
        margin-bottom: 0;
    }
    .about__col .button-download {
        display: none;
    }

    .about__subtitle {
        margin-bottom: 56px;
        font-size: 16px;
        line-height: 1.68;
    }

    .about__body .button-download {
        display: inline-flex;
    }

    .about__photo {
        margin-bottom: 0;
    }
}
