.form-control {
    position: relative;
    text-align: left;
    padding-top: 12px;
}

.form-control__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 2.57;
    font-family: 'Roboto Mono', Verdana, sans-serif;
    transition: var(--base-transition);
}

.form-control.is-focused .form-control__label {
    color: rgba(255, 255, 255, 0.5);
    transform: translateY(-10px);
}

.no-js .form-control .form-control__label {
    transform: translateY(-10px);
}
.form-control::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    transform: scale(0);
    transform-origin: 0 0;
    background-color: var(--secondary-color);
    transition: 0.20s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.form-control.is-focused::before {
    transform: scale(1);
}
.form-control__field {
    width: 100%;
    border: none;
    padding: 12px 0;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    outline: none;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    transition: var(--base-transition);
}

.no-js .form-control__field:focus {
    border-bottom-color: var(--secondary-color);
}

@media screen and (min-width: 1024px) {
    .form-control {
        padding-top: 16px;
    }

    .form-control__label {
        font-size: 16px;
        line-height: 2.25;
        padding-top: 12px;
    }

    .form-control.is-focused .form-control__label {
        transform: translateY(-20px);
    }

    .no-js .form-control .form-control__label {
        transform: translateY(-20px);
    }

    .form-control__field {
        font-size: 16px;
        padding: 13px 0;
    }
}
