.layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    padding-bottom: 24px;
    min-height: calc(100vh - 98px);
}
.layout__col {
    display: flex;
    flex-direction: column;
}
.layout__row {
    display: grid;
    flex-grow: 1;
    grid-column-gap: 32px;
}

.layout__col--nav {
    display: none;
}

.layout__footer .layout__social {
    display: none;
}

.layout__footer--page-contact {
    display: flex;
    flex-direction: column-reverse;
}

.layout__footer--page-contact .layout__social {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        background: repeating-linear-gradient(to right, #191F2F, #191F2F 1px, #101626 1px, #101626 24.9%);
    }
    .layout {
        min-height: calc(100vh - var(--header-min-height));
        padding-bottom: 32px;
    }

    .layout__row {
        grid-template-columns: 1fr 3.35fr;
    }

    .layout__col--nav {
        display: block;
        padding-top: 120px;
    }

    .layout__footer .layout__social {
        display: flex;
        margin: 0 -10px;
    }

    .layout__footer {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 32px;
        align-items: center;
    }

    .layout__footer--page-contact .layout__social {
        display: flex;
        justify-content: flex-start;
    }
}
.cube {
    position: fixed;
    z-index: 1;
}
.cube svg {
    width: inherit;
    height: inherit;
}
.cube--xl {
    width: 173px;
    height: 161px;
}
.cube--md {
    width: 37px;
    height: 35px;
}

.cube--lg {
    width: 44px;
    height: 41px;
}
.cube--sm {
    width: 21px;
    height: 24px;
}
