.contacts {
  position: relative;
  max-width: 802px;
  padding-top: 18px;
  padding-bottom: 24px;
  z-index: 1;
}

.contacts__title {
  text-align: center;
}
.contacts__button-home {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.contacts__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .contacts {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .contacts__title {
    margin-bottom: 65px;
  }
}
